.banner {
  position: relative;
  width: 100%;
  height: auto;
}

.toppage {
    position: relative;
    width: 100%;
}

.topimage {
  width: 100%;
}

.title {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  color: drakgray;
  padding: 0;
  font-family: "arial black";
  font-size: 3.0em;
}
